.idea/
.DS_Store

### Terraform ###
# Local .terraform directories
**/.terraform/*
**/.terrafor*
!.terraform.lock.hcl
terraform.tfvars

ansible/oci-webserver-config-ansible/group_vars/
nsible/oci-webserver-config-ansible/group_vars/*