.idea/
.DS_Store

### Terraform ###
# Local .terraform directories
**/.terraform/*
**/.terrafor*
!.terraform.lock.hcl
terraform.tfvars

ansible/oci-webserver-config-ansible/group_vars/
ansible/oci-webserver-config-ansible/group_vars/*
ansible/oci-webserver-config-ansible/id_rsa
ansible/oci-webserver-config-ansible/inventory.yml